
header{
    background-color: cornflowerblue;
    height: 100px;
    padding: 30px 0;
    margin:20px;
}

header h1{
    font-size: 50px;
    color: bisque;
   text-align: center;
}
header p{
    color:coral;
    font-size: 30px;
   float:right;
   padding-right: 20px;
}

.welcome-page p{
    font-size: 35px;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
}
.button{
    text-align: center;
}
#start-quiz{
    background-color: bisque;
    color:cornflowerblue;
    font-size: 20px;
    text-align: center;
}
#question{
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    background-color: bisque;
    margin: 20px;
}
.answers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice-button{
    background-color: cornflowerblue;
    color:bisque;
    font-size: 45px;
    text-align: center;
    width:100%;
    margin: 20px;
}
{
    background-color: green;
}
.choice-button.wrong{
    background-color: red;
}
#hide{
    display: none;
}

footer{
    background-color: cornflowerblue;
    color:bisque;
    font-size: 30px;
    margin: 20px;
}